---
"mantine-react-table-open": patch
---

Verify automated release pipeline.


